@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}


.todo{
    width: 50%;
    max-height: 540px;
    background: linear-gradient(126deg , rgb(49, 155, 230),rgb(85, 53, 227));
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    /* transform: translatex(50%); */
    
}

.todo h1{
    color: azure;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.todo img{
    width: 35px;
    margin-left: 10px ;
}


.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: blueviolet;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12PX 8PX 12PX 50PX;
    user-select: none;
    position: relative;
    cursor: pointer;
}

ul li::before{
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50%;
        position: absolute;
        background-image:url("/images/uncheck.png") ;
        background-size: cover;
        background-position: center;
        top:12px;
        left: 8px;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(/images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: #555;
    border-radius: 40%;
}

ul li span:hover{
    background: #edeef0;
}